.largeNavbar {
    height: 100px; /* Increase navbar height */
  }
  
.largeNavbar .navbarbrand {
    font-size: 40px; /* Increase brand font size */
    padding-right: 100px;
    margin-left:0px;
}
  
.largeNavbar .navlink {
    font-size: 20px; /* Increase link font size */
    padding-left: 40px;
    padding-right: 40px; /* Adjust padding */
}
  